<h2>Restablecer Contraseña</h2>
<form id="reset-password-form">
    <input type="hidden" id="token" name="token" value="{{token}}">
    <div>
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" required>
    </div>
    <div>
        <label for="confirmNewPassword">Confirmar Nueva Contraseña:</label>
        <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
    </div>
    <button type="submit">Restablecer Contraseña</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('reset-password-form');
        if (form) {
            form.addEventListener('submit', async (e) => {
                e.preventDefault();
                const token = document.getElementById('token').value;
                const newPassword = document.getElementById('newPassword').value;
                const confirmNewPassword = document.getElementById('confirmNewPassword').value;

                if (newPassword !== confirmNewPassword) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Las contraseñas no coinciden.'
                    });
                    return;
                }

                try {
                    const response = await fetch('/api/sessions/resetPassword', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ token, newPassword })
                    });
                    const data = await response.json();
                    if (response.ok) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Contraseña Restablecida',
                            text: data.message,
                            showConfirmButton: false,
                            timer: 3000
                        }).then(() => {
                            window.location.href = '/login'; // Redirigir al login
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: data.message || 'Hubo un problema al restablecer la contraseña.'
                        });
                    }
                } catch (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error de Conexión',
                        text: 'No se pudo conectar al servidor.'
                    });
                }
            });
        }
    });
</script>