<h2>Restaurar contraseña</h2>
<form action="/api/sessions/restore" method="POST"> <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Nueva Contraseña:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Restaurar</button>
</form>